{
  "root": true,
  "extends": [
    "eslint:recommended",
    "prettier",
    "plugin:vue/vue3-essential",
    "@vue/eslint-config-prettier"
  ],
  "overrides": [
    {
      "files": ["cypress/e2e/**/*.{cy,spec}.{js,ts,jsx,tsx}"],
      "extends": ["plugin:cypress/recommended"]
    }
  ],
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "rules": {
    "vue/multi-word-component-names": "off"
  }
}
